{% load static %}
<!Doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>School Store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
<!--		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">-->

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

   </head>

   <body>
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
                <div class="main-header  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="#"><img src="{% static 'assets/img/logo/school1.png' %}" height=90px alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">  
                                            <li class="active"><a href="#">Home</a></li>
                                            <li><a href="#">Department</a>
                                                <ul class="submenu">
                                                    <li><a href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a></li>
                                                    <li><a href="https://en.wikipedia.org/wiki/Commerce">Commerce</a></li>
                                                    <li><a href="https://en.wikipedia.org/wiki/Biology">Biology Science</a></li>
                                                    <li><a href="https://en.wikipedia.org/wiki/Humanities">Humanities</a></li>
                                                    <li><a href="https://en.wikipedia.org/wiki/Diploma">Diploma</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                {% if user.is_authenticated %}
                                <div class="col-lg-1">
                                <div class="header-right-btn f-right d-none d-lg-block">
                                        <a href="/logout" class="btn header-btn">{{user.username}}</a>
                                    </div>
                                </div>
                                    <div class="header-right-btn f-right d-none d-lg-block">
                                        <a href="/logout" class="btn header-btn">Logout</a>
                                {% else %}
                                <div class="col-lg-1">
                                    <div class="header-right-btn f-right d-none d-lg-block">
                                        <a href="/login" class="btn header-btn">Login</a>
                                    </div>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    <a href="/register" class="btn header-btn">Register</a>
                                </div>
                                {% endif %}
                            </div>
                            </div>   
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area slider-height"> <p style="background-image: url('{% static 'assets/img/hero/h1_hero.jpg' %}');">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider">
                    <div class="slider-cap-wrapper">
                        <div class="hero__caption">
                            <p >School Store</p>
                            <h1>KNOWLEDGE IS POWER</h1>
                            <!-- Hero Btn -->
                            <a href="/login" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Enter</a>
                        </div>
                        <div class="hero__img">
                            <img src="{% static 'assets/img/hero/grad2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>

    </div>
    </main>

    <!-- HTML Structure -->

<!--<footer>-->
<!--    &lt;!&ndash; Footer Start&ndash;&gt;-->
<!--    <div class="footer-area">-->
<!--        <div class="container">-->
<!--            <div class="footer-top footer-padding">-->
<!--                <div class="row justify-content-between">-->

<!--                    &lt;!&ndash; Column 1 - Logo &ndash;&gt;-->
<!--                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">-->
<!--                        <div class="single-footer-caption mb-50">-->
<!--                            <div class="footer-logo">-->
<!--                                <a href="index.html"><img src="{% static 'assets/img/gallery/footer_bg.jpg' %}" alt=""></a>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Three Rows Inside Footer Logo &ndash;&gt;-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-4">-->
<!--                                    &lt;!&ndash; Content for the first row &ndash;&gt;-->
<!--                                </div>-->
<!--                                <div class="col-md-4">-->
<!--                                    &lt;!&ndash; Content for the second row &ndash;&gt;-->
<!--                                </div>-->
<!--                                <div class="col-md-4">-->
<!--                                    &lt;!&ndash; Content for the third row &ndash;&gt;-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="footer-social f-center">-->
<!--                                &lt;!&ndash; Social media icons &ndash;&gt;-->
<!--                                <a href="#"><i class="fab fa-twitter"></i></a>-->
<!--                                <a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a href="#"><i class="fas fa-globe"></i></a>-->
<!--                                <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--                            </div>-->

<!--                            <div class="footer-pera f-left">-->
<!--                                &lt;!&ndash; Copyright text &ndash;&gt;-->
<!--                                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Column 2 - Quick Links &ndash;&gt;-->
<!--                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">-->
<!--                        <div class="single-footer-caption mb-50">-->
<!--                            <div class="footer-tittle">-->
<!--                                <h4>Quick Link</h4>-->
<!--                                <ul>-->
<!--                                    <li><a href="#">About</a></li>-->
<!--                                    <li><a href="#">Contact Us</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Column 3 - Support &ndash;&gt;-->
<!--                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">-->
<!--                        <div class="single-footer-caption mb-50">-->
<!--                            <div class="footer-tittle">-->
<!--                                <h4>Support</h4>-->
<!--                                <ul>-->
<!--                                    <li><a href="#">Frequently Asked Questions</a></li>-->
<!--                                    <li><a href="#">Terms & Conditions</a></li>-->
<!--                                    <li><a href="#">Privacy Policy</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->


{% include 'footer.html' %}



    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>


    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Nice-select, sticky -->
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
        
    </body>
</html>
